extends ../layout

block content
    div.container.blog
        div.content
            div.article-header-row
                p #{user.email}
                a.button(href=`/profile/${user.id}/edit`) Edit
            p #{user.first_name}
            a.button(href='/') View Articles
        div.user-image
            img(src={user.icon})