extends ../layout

block content
    //ul.article-list
    //    each article in articles
    //        li
    //            +articleCard(article)
    div.container.blog
        div.content
            div.article-header-row
                p #{user.email}
                a.button(href=`/profile/${user.id}/edit`) Edit
    //        img.user-image(src=user.icon)
    //        p.article-body=user.desc

        //todo make sure you can see article cards on profile

    var n = 0;
    while n < 5
        article = new article
        article.id = n
        if article.isOwnedBy(user)
            +articleCard(article)