extends ../layout

block content
    h1 8 Ballin' Magic
    h2 Ask the 8 ball for an answers from the great beyond

    label(for='question')
    input(type="text" name="question" id="question" required=true placeholder="...")